@import './../shared/variables';

nav {
  width: 15em;
}

.active {
  color: $accent-color;
  font-weight: bolder;
}

.nav-toggle-btn {
  padding: 10px 50px 10px 15px;
  cursor: pointer;
  white-space: nowrap;
  position: relative;
  display: block;
  width: 100%;
  text-align: left;
  background: none;
  border: none;
  color: rgba(255, 255, 255, 0.7);
  outline: none;

  .mat-icon {
    position: absolute;
    right: 5px;
    font-size: 18px;
  }
}

hr {
  border-color: rgba(255, 255, 255, 0.2);
}
